@{ ViewBag.Title = "Home Page"; }

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <h2>Welcome to My Website</h2>
    <p>This is a simple ASP.NET MVC application.</p>
</body>
</html>
