@{ ViewBag.Title = "Home Page"; }

<div class="jumbotron">
    <h1>E-Book Pvt. Ltd.</h1>
    <p class="lead">E-Book Pvt. Ltd. is a leading used books selling company in Sri Lanka.</p>
    <p><a href="#about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="about" class="row">
    <div class="col-md-12">
        <h2>About Us</h2>
        <p>
            Over the last three years, E-Book Pvt. Ltd. has emerged as a prestigious and the foremost network of bookshops in Sri Lanka with rapid development and expansion of its business activities both in terms of quality and quantity. It presents a vast collection of Sri Lankan and foreign used books covering an array of multiple disciplines to meet the diverse needs of their wide readership that ranges from little kids to higher academics.
        </p>
        <img src="path/to/your/image1.jpg" alt="E-Book Store" class="img-responsive" style="width: 100%; height: auto;">
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Our Collection</h2>
        <p>
            We offer a vast collection of books from various disciplines including fiction, non-fiction, academic texts, and children’s books. Our collection is sourced from both Sri Lankan and international markets.
        </p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu84t9yMsHPtS75EGelUKjgd-zmOjvYhIMbg&s" alt="Book Collection" class="img-responsive" style="width: 100%; height: auto;">
    </div>
    <div class="col-md-4">
        <h2>Customer Focus</h2>
        <p>
            Our goal is to meet the diverse needs of our wide readership. We provide books for all ages, from little kids to higher academics, ensuring that everyone can find something they love.
        </p>
        <img src="https://faze.b-cdn.net/cms/wp-content/uploads/2015/08/Girl-Reading-Book.jpg" alt="Customers" class="img-responsive" style="width: 100%; height: auto;">
    </div>
    <div class="col-md-4">
        <h2>Online Expansion</h2>
        <p>
            To expand our business activities, we are developing an online web application with the following functionalities:
            <ul>
                <li>Logged in customers can manage their orders (view/delete).</li>
                <li>Any users can search for book details.</li>
                <li>Logged in customers can provide feedback about books.</li>
            </ul>
        </p>
        <img src="https://d1qwl4ymp6qhug.cloudfront.net/Images%20for%20blog/Ebook-preview.png" alt="Online Expansion" class="img-responsive" style="width: 100%; height: auto;">
    </div>
</div>
